.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 1rem;
  padding-bottom: 0;
  padding-top: 0;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
}

.recruiter-button {
  background-color: #3f51b5;
  color: white;
  &:hover {
    background-color: #303f9f;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  // height: 100vh;
}

.cv-section {
  width: 50%;
  height: 100vh;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
  padding-top: 0;
}

.cv-image {
  width: 50vw;
  height: 100%;
}
.cv-pdf {
  width: 100%;
  height: 90vh; /* Adjust height as needed */
}

.stats-section {
  width: 50%;
  padding: 1rem;
}

.stats-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.stats-list {
  display: flex;
  flex-direction: column;
}

.stats-item {
  margin-bottom: 1rem;
}

.stats-label {
  font-size: 1rem;
  color: #666;
}

.stats-value {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.skills-list {
  list-style: disc;
  list-style-position: inside;
  margin-left: 0;
  padding-left: 1rem;
}
